<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.ilivedemo">

    <application android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".DemoApp"
        tools:replace="allowBackup"
        android:theme="@style/AppTheme">

        <activity android:name=".NeedFaceUnityAcct" android:screenOrientation="portrait" android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait" android:launchMode="singleTask" >
        </activity>
        <activity android:name=".ui.MenuActivity" android:screenOrientation="portrait" android:launchMode="singleTask" />
        <activity android:name=".demos.DemoHost" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoGuest" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoLiveGuest" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoCross" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoRender" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoBtu" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoReplayList" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoReplay" android:screenOrientation="portrait" android:launchMode="singleTask"  />
        <activity android:name=".demos.DemoMix" android:screenOrientation="portrait" android:launchMode="singleTask"  />
    </application>

</manifest>
